<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="kr.mom.probe.fixture" />
    </queries>
    <application>
        <activity
            android:name=".qa.SourceSyncValidationActivity"
            android:exported="true"
            android:label="Source Sync QA" />
    </application>
</manifest>
